body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#login-form-alert {
    position: absolute;
    top: 20px;
    visibility: hidden;
}

@mixin loginFormContentSize($formWidth, $formMaxWidth, $formTopPadding, $formHorizontalPadding, $formBottomPadding, $headingFontSize, $headingBottomMargin, $inputFontSize, $buttonFontSize, $buttonTopMargin) {
    width: $formWidth;
    max-width: $formMaxWidth;
    padding: $formTopPadding $formHorizontalPadding $formBottomPadding;

    h1 {
        font-size: $headingFontSize;
        margin-bottom: $headingBottomMargin;
    }

    input {
        font-size: $inputFontSize;
    }

    button {
        font-size: $buttonFontSize;
        margin-top: $buttonTopMargin;
    }
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    h1 {
        align-self: center;
    }

    @media screen and (min-width: 1001px) {
        @include loginFormContentSize(40%, 400px, 40px, 40px, 80px, 40px, 15%, 18px, 18px, 20%);
    }

    @media screen and (max-width: 1000px) {
        @include loginFormContentSize(50%, 500px, 4%, 4%, 6%, 40px, 15%, 18px, 18px, 20%);
    }

    @media screen and (max-width: 750px) {
        @include loginFormContentSize(60%, 600px, 5%, 5%, 8%, 40px, 18%, 18px, 18px, 25%);
    }

    @media screen and (max-width: 450px) {
        @include loginFormContentSize(70%, 700px, 5%, 5%, 8%, 30px, 20%, 16px, 16px, 30%);
    }

    @media screen and (max-width: 300px) {
        @include loginFormContentSize(80%, 800px, 5%, 5%, 8%, 25px, 20%, 14px, 14px, 30%);
    }
}