<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>
<body>
    <form id="login-form" action="/login" method="post" class="bg-light">
        <h1>Sign in to your account</h1>

        <input type="email" class="form-control" id="email" placeholder="Enter email">

        <input type="password" class="form-control mt-4" id="password" placeholder="Enter password">

        <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
    </form>
</body>
</html>